{% extends 'layouts/default' %}

{% block csshead %}
<style>


</style>
{% endblock %}

{% block jshead %}{% endblock %}

{% block content %}
<div class="main-content-container container-fluid">
  <div class="main-content container">
    hello
  </div>
</div>

{% endblock %}


{% block jsfooter %}
  <script>
    $(function() {


    });
  </script>
{% endblock %}
