{% extends 'layouts/default' %}

{% block csshead %}
<link href="{{ url('/') }}css/rangeslider.css" rel="stylesheet" />
<style>
  .cover-image-container,
  .profile-pic-container {
    position: relative;
  }

  .cover-image-controls {
    position: absolute;
    left: 42%;
    top: 42%;
    color: #FFFFFF;
    font-size: 1em;
    background-color: rgba(0, 0, 0, 0.8);
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 5px;
    display: inline-block;
    padding: 0.8em 2em;
    z-index: 99;
    cursor: pointer;
  }

  .cover-image-controls.disabled-customised,
  .profile-pic-controls.disabled-customised {
    display: none;
  }

  .cover-image-controls.active-customised,
  .profile-pic-controls.active-customised {
    display: inline-block;
  }

  .profile-pic-controls {
    position: absolute;
    bottom: -20px;
    color: #e4e1e1;
    font-size: 0.73em;
    background-color: rgba(0, 0, 0, 0.2);
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 5px;
    display: inline-block;
    padding: 0.8em 1em;
    z-index: 99;
    cursor: pointer;
  }

  [contenteditable] {
    outline: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
  }

  .support-user-image {
    height: 40px;
    width: 40px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
  }

  .individual-project-image {
    height: 12em;
    width: 12em;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 25px;
  }

  {# css for timeline #}
  .timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}

.timeline > li {
  margin-bottom: 20px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-badge.primary {
  background-color: #2e6da4 !important;
}

.timeline-badge.success {
  background-color: #3f903f !important;
}

.timeline-badge.warning {
  background-color: #f0ad4e !important;
}

.timeline-badge.danger {
  background-color: #d9534f !important;
}

.timeline-badge.info {
  background-color: #5bc0de !important;
}

.timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}

{# css for chatroom#}
.feeds .user-info-background {
    background-position: center !important;
    background-size: cover !important;
    display: block;
    height: 100px;
    position: relative;
    border-radius: 5px 5px 0 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.44) 0%, transparent 100%);
  }

  .feeds .user-profile-image {
    position: absolute;
    top: 26px;
    left: 30px;
    z-index: 99;
    box-sizing: border-box;
    height: 85px;
    width: 85px;
    border: 1px solid #FFFFFF;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .feeds .create-feed .close {
    position: absolute;
    top: 10px;
    right: 30px;
    font-size: 27px;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.6);
    outline: none;
    z-index: 99;
  }

  .feeds .create-feed p {
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    line-height: 22px;
    padding: 14px 10px 30px 10px;
  }

  textarea.no-border {
    border: 0
  }

  textarea.no-border:focus {
    border: 0
  }

  .create-feed textarea.no-expansion {
    resize: none;
    border: 0;
  }

  .create-feed textarea.no-expansion:focus {
    outline: 0;
    box-shadow: none;
    border: 0;
  }

  textarea.comment_input.no-expansion {
    resize: none;
  }

  textarea.comment_input.no-expansion:focus {
    outline: 0;
    box-shadow: none;
    border: 1px solid #ced4da;
  }


  .feeds .add-image-button {
    padding: 6px 20px 6px 0;
    border-radius: 0 0 0 4px;
    display: block;
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.6);
    line-height: 21px;
    outline: none;
    cursor: pointer;
  }

  .feeds .post-button {
    padding: 6px 30px;
    border-radius: 0 0 4px 0;
    background-color: var(--theme-color);
    display: block;
    font-size: 0.9em;
    color: #FFFFFF;
    line-height: 21px;
    outline: none;
    border: none;
    cursor: pointer;
  }

  .feeds .feed-info {
    font-size: 0.8em;
  }

  .feeds .feed-info .feed-user-info {
    display: block;
    height: 36px;
    width: 36px;
    margin: 0px 0px 6px 0px;
    border-radius: 100px;
    background-position: center !important;
    background-size: cover !important;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .interaction-count-container {
    background: var(--content-bg);
  }

  .comment-image {
    height: 30px;
    width: 30px;
    border-radius: 100px;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .comment_input {
    font-size: 0.8em;
  }

  .comments-info {
    display: inline-block;
    position: relative;
    padding: 7px 10px;
    margin: 0px 0px 10px 0px;
    border-radius: 10px;
    background-color: #F0F0F0;
    width: auto;
    max-width: 400px;
  }

  .commentor-name {
    display: inline-block;
    color: #0A0B09;
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
    margin: 4px 0px 5px 0px;
    position: relative;
    width: 100%;
  }

  .commentor-time {
    display: inline-block;
    left: inherit;
    font-size: 12px;
    font-weight: 100;
    margin: 0px 0px 0px 10px !important;
    color: rgba(0, 0, 0, 0.5);
  }

  .commentor-comment {
    font-size: 14px !important;
    line-height: normal;
    word-wrap: break-word;
    padding-right: 0px;
    margin: 5px 0px 0px 0px !important;
    color: rgba(0, 0, 0, 0.8);
  }

  .likes_count {
    cursor: pointer
  }

  .likes_count:hover {
    color: var(--theme-color)
  }


  .rangeslider-wrap {
    padding-top: 100px;
  }

  .rangeslider {
    position: relative;
    height: 4px;
    border-radius: 5px;
    width: 100%;
    background-color: gray;
  }
  .rangeslider__handle {
    transition: background-color .2s;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #0099FF;
    touch-action: pan-y;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    z-index: 3;
    top: -8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), inset 0 0 0 2px white;
  }
  .rangeslider__handle__value {
    transition: background-color .2s,  box-shadow .1s, transform .1s;
    box-sizing: border-box;
    width: 90px;
    text-align: center;
    padding: 10px;
    background-color: #0099FF;
    border-radius: 5px;
    color: white;
    left: -35px;
    top: -55px;
    position: absolute;
    white-space: nowrap;
    border-top: 1px solid #007acc;
    box-shadow: 0 -4px 1px rgba(0, 0, 0, 0.07), 0 -5px 20px rgba(0, 0, 0, 0.3);
  }
  .rangeslider__handle__value:before {
    transition: border-top-color .2s;
    position: absolute;
    bottom: -10px;
    left: calc(50% - 10px);
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid;
    border-top-color: #0099FF;
  }
  .rangeslider__handle__value:after {
    content: "";
  }
  .rangeslider__fill {
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%;
    background-color: #0099FF;
    border-radius: 5px;
  }
  .rangeslider__labels {
    position: absolute;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: space-between;
  }
  .rangeslider__labels__label {
    font-size: 0.75em;
    position: relative;
    padding-top: 15px;
    color: gray;
  }
  .rangeslider__labels__label:before {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 1px;
    height: 9px;
    border-radius: 1px;
    background-color: rgba(128, 128, 128, 0.5);
  }
  .rangeslider__labels__label:first-child:before, .rangeslider__labels__label:last-child:before {
    height: 12px;
    width: 2px;
  }
  .rangeslider__labels__label:first-child:before {
    background-color: #0099FF;
  }
  .rangeslider__labels__label:last-child:before {
    background-color: gray;
  }
  .rangeslider__labels__label:first-child {
    transform: translateX(-48%);
  }
  .rangeslider__labels__label:last-child {
    transform: translateX(48%);
  }
  .rangeslider.rangeslider--active .rangeslider__handle, .rangeslider.rangeslider--active .rangeslider__handle * {
    background-color: #33adff;
  }
  .rangeslider.rangeslider--active .rangeslider__handle *:before {
    border-top-color: #33adff;
  }
  .rangeslider.rangeslider--active .rangeslider__handle__value {
    transform: translateY(-5px);
    box-shadow: 0 -3px 2px rgba(0, 0, 0, 0.04), 0 -9px 25px rgba(0, 0, 0, 0.15);
  }





</style>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">
{% endblock %}

{% block jshead %}{% endblock %}

{% block content %}

{% for projectDetail in projectDetails %}
  <div class="jumbotron bg-header">
    <div class="container" style="width: 1000px">
      <div class="content-header">
        <div class="row">
          <div class="col-sm-5" style="position: relative; left: -15px">
            <a href="{{ url('/') }}project/{{ projectDetail.project.id }}">
              <img class="individual-project-image" src="{{ projectDetail.project.image }}">
            </a>
          </div>
          <div class="col-sm-7">
            <div class="row">
              <div class="col-sm-10">
                <h3>{{ projectDetail.project.name }}</h3>
                <h6 class="user-handle">
                  Created by:
                  @ <a href="{{ url('/') }}user/{{ projectDetail.user.id }}">{{ projectDetail.user.username }}</a>
                </h6>
              </div>
            </div>
            <p class="description">
              {{ projectDetail.project.description }}
            </p>
          </div>
        </div>
      </div>

      {% for projectDetail in projectDetails %}
      <div class="row mt-sm-5 d-flex justify-content-between">
        <div class="" style="">
          <h3>DSI: {{ projectDetail.project.dsi_rating }}</h3>
        </div>
        <div class="d-flex justify-content-end">
          <div class="mx-1">
            <a href="{{ url('/') }}project/{{ projectDetail.project.id }}/{{ user.id }}/subscribe" class="btn btn-outline-danger action-btn btn-long">
              <i class="fas fa-envelope-open"></i> &nbsp; Subscribe
            </a>
          </div>
          <div class="mx-1">
            <a href="{{ url('/') }}project/{{ projectDetail.project.id }}/{{ user.id }}/donate" class="btn btn-outline-danger action-btn btn-long">
              <i class="fas fa-rupee-sign"></i> &nbsp; Donate
            </a>
          </div>

          <div class="mx-1">
            <a href="{{ url('/') }}project/{{ projectDetail.project.id }}/{{ user.id }}/volunteer" class="btn btn-outline-danger action-btn btn-long">
              <i class="fas fa-users"></i> &nbsp; Volunteer
            </a>
          </div>
          <div class="mx-1">
            <a href="" class="btn btn-outline-danger action-btn btn-long">
              <i class="fas fa-share-alt"></i> &nbsp; Share
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="nav-holder">
    <div class="container-fluid">
      <div class="container">

        <div class="nav-section">
          <ul class="nav nav-tabs nav-custom" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="campaign-tab" data-toggle="tab" href="#campaign" role="tab" aria-controls="campaign" aria-selected="false">Campaign</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="timeline-tab" data-toggle="tab" href="#timeline" role="tab" aria-controls="timeline" aria-selected="false">Timeline</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="gallery-tab" data-toggle="tab" href="#gallery" role="tab" aria-controls="gallery" aria-selected="false">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="discussion-tab" data-toggle="tab" href="#discussion" role="tab" aria-controls="discussion" aria-selected="false">Discussion</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="support-tab" data-toggle="tab" href="#support" role="tab" aria-controls="support" aria-selected="false">Support</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="upload-bills-tab" data-toggle="tab" href="#uploadbills" role="tab" aria-controls="uploadbills" aria-selected="false">Upload Bills</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="trx-logs-tab" data-toggle="tab" href="#trxlogs" role="tab" aria-controls="trxlogs" aria-selected="false">Transaction Logs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="rating-tab" data-toggle="tab" href="#rating" role="tab" aria-controls="rating" aria-selected="false">Rating</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="faq-tab" data-toggle="tab" href="#faq" role="tab" aria-controls="faq" aria-selected="false">FAQ</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="main-content-container container-fluid">
    <div class="main-content container">
      <div class="general-info">
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="campaign" role="tabpanel" aria-labelledby="campaign-tab">
            <div class="box-component">
              <div class="container">
                <div class="row">
                  <div class="col-sm-12">
                    <h5>Campaign</h5>
                  </div>
                  <div class="col-sm-12 pt-3">
                    <div class="row">
                      <div class="col-sm-2 my-0">
                        <h6 class="light-text small-head bold-weight">
                          Name
                        </h6>
                      </div>
                      <div class="col-sm-10 my-0">
                        <p class="light-text small-head">
                          {{ projectDetail.project.name }}
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 my-2">
                    <div class="row">
                      <div class="col-sm-2 my-0">
                        <h6 class="light-text small-head bold-weight">
                          Tagline
                        </h6>
                      </div>
                      <div class="col-sm-10 my-0">
                        <p class="light-text small-head">
                          {{ projectDetail.project.tagline }}
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 my-2">
                    <div class="row">
                      <div class="col-sm-2 my-0">
                        <h6 class="light-text small-head bold-weight">
                          Purpose
                        </h6>
                      </div>
                      <div class="col-sm-10 my-0">
                        <p class="light-text small-head">
                          {{ projectDetail.project.purpose }}
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 my-2">
                    <div class="row">
                      <div class="col-sm-2 my-0">
                        <h6 class="light-text small-head bold-weight">
                          Tags
                        </h6>
                      </div>
                      <div class="col-sm-10 my-0">
                        <p class="light-text small-head">
                          {{ projectDetail.project.tags }}
                        </p>
                      </div>
                    </div>
                  </div>
                  {% for projectDoc in projectDocs %}
                    <div class="col-sm-12 my-2">
                      <div class="row">
                        <div class="col-sm-2 my-0">
                          <h6 class="light-text small-head bold-weight">
                            No. of volunteers needed
                          </h6>
                        </div>
                        <div class="col-sm-10 my-0">
                          <p class="light-text small-head">
                            {{ projectDoc.volunteers_number }}
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12 my-2">
                      <div class="row">
                        <div class="col-sm-2 my-0">
                          <h6 class="light-text small-head bold-weight">
                            Fund Amount
                          </h6>
                        </div>
                        <div class="col-sm-10 my-0">
                          <p class="light-text small-head">
                            &#8377; {{ projectDoc.fund_amount }}
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12 my-2">
                      <div class="row">
                        <div class="col-sm-2 my-0">
                          <h6 class="light-text small-head bold-weight">
                            Fund-raising Deadine
                          </h6>
                        </div>
                        <div class="col-sm-10 my-0">
                          <p class="light-text small-head">
                            {{ projectDoc.fundraising_deadline }}
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12 my-2">
                      <div class="row">
                        <div class="col-sm-2 my-0">
                          <h6 class="light-text small-head bold-weight">
                            Project Deadine
                          </h6>
                        </div>
                        <div class="col-sm-10 my-0">
                          <p class="light-text small-head">
                            {{ projectDoc.project_deadline }}
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12 my-2">
                      <div class="row">
                        <div class="col-sm-2 my-0">
                          <h6 class="light-text small-head bold-weight">
                            Updates Frequency
                          </h6>
                        </div>
                        <div class="col-sm-10 my-0">
                          <p class="light-text small-head">
                            {{ projectDoc.updates_frequency }}
                          </p>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="timeline" role="tabpanel" aria-labelledby="projects-tab">
            <div class="box-component">
              <div class="container">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="container">
                      <div class="page-header">
                        <h5 id="timeline">Timeline</h5>
                      </div>
                      <div>
                        <ul class="timeline">
                          <li>
                            <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
                            <div class="timeline-panel">
                              <div class="timeline-heading">
                                <h4 class="timeline-title"><img class="fr-dib fr-fil fr-draggable" src="https://d2zcpk7yfyf2dq.cloudfront.net/milaap/image/upload/c_limit,w_1170/v1500417094/production/images/uploader_images/image1_1500417092.jpg" style="width: 380px; height: 240px;" data-full_image_url="https://d2zcpk7yfyf2dq.cloudfront.net/milaap/image/upload/v1500417094/production/images/uploader_images/image1_1500417092.jpg" data-thumb_url="https://d2zcpk7yfyf2dq.cloudfront.net/milaap/image/upload/c_fit,h_70,w_125/v1500417094/production/images/uploader_images/image1_1500417092.jpg" data-id="134735"></h4>
                                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago </small></p>
                              </div>
                              <div class="timeline-body">
                                <p>Dear Supporters,
                                  At the outset, I am happy to inform you that Avishi is doing much better now and is on her path to recovery. The treatment has been going well and the enzyme "Arylsulfatase B" which was missing from her body (responsible for her rare genetic condition  MPS Type 6 / Mucopolysaccharidosis Type 6) is now being produced by her own body in adequate quantity. We are still at Netherlands and the treatment will take some more time.</p>
                              </div>
                            </div>
                          </li>
                          <li class="timeline-inverted">
                            <div class="timeline-panel">
                              <div class="timeline-heading">
                                <h2 class="timeline-title">Funding successful !</h2>
                                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago </small></p>
                              </div>
                              <div class="timeline-body">
                                <p>Thanks you all for making this campaign successful</p>
                              </div>
                            </div>
                          </li>
                          <li class="timeline-inverted">
                            <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
                            <div class="timeline-panel">
                              <div class="timeline-heading">
                                <h4 class="timeline-title"><img class="fr-dib fr-fil fr-draggable" src="https://d2zcpk7yfyf2dq.cloudfront.net/milaap/image/upload/c_limit,w_1170/v1500417722/production/images/uploader_images/image5_1500417721.jpg" style="width: 380px; height: 240px;" data-full_image_url="https://d2zcpk7yfyf2dq.cloudfront.net/milaap/image/upload/v1500417722/production/images/uploader_images/image5_1500417721.jpg" data-thumb_url="https://d2zcpk7yfyf2dq.cloudfront.net/milaap/image/upload/c_fit,h_70,w_125/v1500417722/production/images/uploader_images/image5_1500417721.jpg" data-id="134745"></h4>
                                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2 hours ago </small></p>
                              </div>
                              <div class="timeline-body">
                                <p>Avishi was admitted to the hospital on 14-Nov-2016. After preparing her body for the new donor cells cells using Immunotherapy and Chemotherapy (which kills existing cells to make space for the new cells), the Stem Cell Transplantation took place on 25-Nov-2016. As mentioned in previous post, a Central Line (Hickman Catheter) was put on first day of hospital admission through a minor surgery on the right side of her chest. In the hospital room, they connected multiple IV Infusion lines to the Central Line. It started with two IV Infusion lines and there was a time when there were eight intravenous infusion lines connected at the same time through multiple extension connections. All the medicines were being given through these lines and her body was in a state of zero immunity (as her original body cells were destroyed or depleted to make space for infusion of new cells). </p>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
                            <div class="timeline-panel">
                              <div class="timeline-heading">
                                <h4 class="timeline-title"><img class="fr-dib fr-fil fr-draggable" src="https://d2zcpk7yfyf2dq.cloudfront.net/milaap/image/upload/c_limit,w_1170/v1500417239/production/images/uploader_images/image2_1500417238.jpg" style="width: 380px; height: 240px;" data-full_image_url="https://d2zcpk7yfyf2dq.cloudfront.net/milaap/image/upload/v1500417239/production/images/uploader_images/image2_1500417238.jpg" data-thumb_url="https://d2zcpk7yfyf2dq.cloudfront.net/milaap/image/upload/c_fit,h_70,w_125/v1500417239/production/images/uploader_images/image2_1500417238.jpg" data-id="134736"></h4>
                                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 3 days ago </small></p>
                              </div>
                              <div class="timeline-body">
                                <p>The main process of transplanting the cells or infusion of new cells in Avishi's body was done on 25-November-2016. There was a lot of fear and anxiety as to how her body would react to the new cells. The first thirty minutes after infusion of new cells are very critical. Thankfully there were no complications and the infusion of new cells was declared as completed. These donor stem cells, once inside the body, slowly grow and multiply over a period of time.</p>
                              </div>
                            </div>
                          </li>
                          <li class="timeline-inverted">
                            <div class="timeline-panel">
                              <div class="timeline-heading">
                                <h2 class="timeline-title">Funding started</h2>
                                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago </small></p>
                              </div>
                              <div class="timeline-body">
                                <p>For helping Avishi. Look for project details in the campaign page</p>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="gallery" role="tabpanel" aria-labelledby="gallery-tab">
            <div class="box-component">
              <div class="container">
                <div class="row">
                  <div class="col-sm-12">
                    <h5>Gallery</h5>
                  </div>
                  <!-- Images used to open the lightbox -->
                  <div class="img-row">
                    <div class="img-column">
                      <img src="https://d2zcpk7yfyf2dq.cloudfront.net/milaap/image/upload/c_limit,w_1170/v1500417094/production/images/uploader_images/image1_1500417092.jpg" class="img-fluid thumbnail hover-shadow">
                    </div>
                    <div class="img-column">
                      <img src="https://d2zcpk7yfyf2dq.cloudfront.net/milaap/image/upload/c_limit,w_1170/v1500417722/production/images/uploader_images/image5_1500417721.jpg" class="img-fluid thumbnail hover-shadow">
                    </div>
                    <div class="img-column">
                      <img src="https://d2zcpk7yfyf2dq.cloudfront.net/milaap/image/upload/c_limit,w_1170/v1500417239/production/images/uploader_images/image2_1500417238.jpg" class="img-fluid thumbnail hover-shadow">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="discussion" role="tabpanel" aria-labelledby="discussion-tab">
            <div class="box-component">
              <div class="container">
                <div class="main-content-container container-fluid">
                  <div class="main-content container feeds pb-5">
                    <div class="row">
                      <div class="col-md-8 column">
                    <div id="disqus_thread"><iframe id="dsq-app8456" name="dsq-app8456" allowtransparency="true" frameborder="0" scrolling="no" tabindex="0" title="Disqus" width="360px" src="https://disqus.com/embed/comments/?base=default&amp;f=bmk030&amp;t_i=campaign-7187&amp;t_u=https%3A%2F%2Fmilaap.org%2Ffundraisers%2Fhelpsaveavishi&amp;t_e=Help%20My%20Daughter%20Live%20%23HelpSaveAvishi&amp;t_d=%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20Help%20My%20Daughter%20Live%20%23HelpSaveAvishi%20%20%20%20%20%20%20%20%20%20&amp;t_t=Help%20My%20Daughter%20Live%20%23HelpSaveAvishi&amp;s_o=default#version=341c6ac006cf1e349b79ef1033b8b11a" style="width: 1px !important; min-width: 360px !important; border: none !important; overflow: hidden !important; height: 3104px !important;" horizontalscrolling="no" verticalscrolling="no"></iframe></div>
                    <script type="text/javascript">
                      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                      var disqus_shortname = 'bmk030'; // required: replace example with your forum shortname
                      var disqus_identifier = 'campaign-7187';
                      var disqus_title = 'Help My Daughter Live #HelpSaveAvishi';
                      var disqus_url = 'https://milaap.org/fundraisers/helpsaveavishi';

                        var disqus_config = function() {
                          this.page.remote_auth_s3 = 'eyJpZCI6NzQ1Njk1LCJ1c2VybmFtZSI6IkFzaHdpbiBKUCIsImVtYWlsIjoiYW9ubm9zYmlnQGdtYWlsLmNvbSIsInVybCI6Imh0dHBzOi8vbWlsYWFwLm9yZy91c2VyLzc0NTY5NSIsImF2YXRhciI6Ii9hc3NldHMvYm9ycm93ZXJfZHVtbXkxLmpwZyJ9 e1c121a3c5a327eff27af78749e8bb75ce973cc1 1522461616';
                          this.page.api_key = '9sKNtrv2SofyUin78YnifZfZf0JvHCiEEhleceJJuiOiqo1H7kvAwcrDMH7X2ZG5';
                        }

                      // This adds the custom login/logout functionality
                        this.sso = {
                          name:   "Milaap",
                          button: "//assets.milaap.org/assets/lend-btn-2fc731cb434fc4d08f1a4489cb91ff83f0cf754f6ed64fea4e5d891e556c0095.png",
                          icon:   "//assets.milaap.org/assets/favicon-edd25c979c630ceb92a4d0053be394ba98d0edab24f517afd1a77f41fe81a0bd.ico",
                          url:    '/users/sign-in',
                          width:  "800",
                          height: "400"
                        };

                      /* * * DON'T EDIT BELOW THIS LINE * * */
                      (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                      })();
                    </script>
                    <noscript>Please enable JavaScript to view the &lt;a href="http://disqus.com/?ref_noscript" rel="external nofollow"&gt;comments powered by Disqus.&lt;/a&gt;</noscript>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="support" role="tabpanel" aria-labelledby="support-tab">
        <div class="box-component">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <h6>Support</h6>
              </div>
              <div class="col-sm-6 mt-sm-5">
                <h6>
                  Volunteers
                  <span class="badge badge-primary">{{ volunteers.length }}</span>
                </h6>
                <ul class="list-group">
                {% for volunteer in volunteers %}
                  <li class="list-group-item">
                    {% if volunteer.user.profile_image %}
                      <img src="{{ volunteer.user.profile_image }}" class="support-user-image"/>
                    {% else %}
                      <img src="{{ url('/') }}img/defaults/default-profile.png" class="support-user-image"/>
                    {% endif %}
                    <a href="{{ url('/') }}user/{{ volunteer.user.id }}" target="_blank">{{ volunteer.user.name }}</a>
                  </li>
                {% endfor %}
                </ul>
              </div>
              <div class="col-sm-6 mt-sm-5">
                <h6>
                  Donators
                  <span class="badge badge-primary">{{ donators.length }}</span>
                </h6>
                <ul class="list-group">
                {% for donator in donators %}
                  <li class="list-group-item">
                    {% if donator.user.profile_image %}
                      <img src="{{ donator.user.profile_image }}" class="support-user-image"/>
                    {% else %}
                      <img src="{{ url('/') }}img/defaults/default-profile.png" class="support-user-image"/>
                    {% endif %}
                    &nbsp;&nbsp;
                    <a href="{{ url('/') }}user/{{ donator.user.id }}" target="_blank">{{ donator.user.name }}</a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="uploadbills" role="tabpanel" aria-labelledby="upload-bills-tab">
        <div class="box-component">
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <h5>Upload Bill Receipts</h5>
              </div>
            </div>
            <div class= "row">
              <div class="col-sm-12 mt-sm-5">
                {% for projectDetail in projectDetails %}
                  <form action="{{ url('/') }}project/{{ projectDetail.project.id }}/uploadBill" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                      <label for="billAmount">Bill Amount</label>
                      <input type="number" class="form-control" id="billAmount" placeholder="Bill Amount" name="billAmount">
                    </div>
                    <div class="form-group">
                      <label for="expenseDescription">Expense Description</label>
                      <input type="text" class="form-control" id="expenseDescription" placeholder="Expense Description" name="expenseDescription">
                    </div>
                    <div class="form-group">
                      <label for="bill">Upload Bill</label>
                      <input type="file" class="form-control" id="bill" placeholder="Upload Bill" name="bill">
                    </div>
                    <div class="form-group">
                      <input type="submit" class="btn btn-custom-designed" id="submit" name="submit" />
                    </div>
                  </form>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="trxlogs" role="tabpanel" aria-labelledby="trxlogs-tab">
        <div class="box-component">
          <div class="container">
            <div class="row">
              <h5>Transaction Logs</h5>
            </div>
            <div class= "row">
              <div class="col-sm-12 mt-sm-5">
                <table data-pagination="true" data-search="true" data-toggle="table" class="table table-hover">
                  <thead>
                    <tr>
                      <th>Transaction ID</th>
                      <th>Donator</th>
                      <th>Project</th>
                      <th>Amount</th>
                      <th>Timestamp</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for transaction in transactions %}
                    <tr>
                      <td>{{ transaction.transaction_id }}</td>
                      <td>{{ transaction.user.name }}</td>
                      <td>{{ transaction.project.name }}</td>
                      <td>{{ transaction.amount }}</td>
                      <td>{{ transaction.creation_date }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="rating" role="tabpanel" aria-labelledby="rating-tab">
        <div class="box-component">
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <h5>DSI Rating</h5>
              </div>
              <div class="col-sm-6">
                <h6>(Only for donators)</h6>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 mt-sm-5">
                <div class="rangeslider-wrap">
                  <input type="range" min="1" max="10" step="0.2" labels="0, 2, 4, 6, 8, 10">
                </div>
              </div>
              <div class="col-sm-12 mt-5">
                <form action="">
                  <div class="form-group row mt-sm-4">

                    <h5 class="col-sm-2 col-form-label">Write a review:</h5>

                    <div class="col-sm-8">
                      <textarea id="messageBox" rows="5" class="form-control" placeholder="Write here!!">
                  </textarea>
                    </div>
                    <div class="col-sm-2">
                      <button type="submit" class="btn btn-custom-designed">Submit</button>
                    </div>
                  </div>
                  <div class="form-group row">

                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="faq" role="tabpanel" aria-labelledby="faq-tab">
        <div class="box-component">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <h5>Frequently Asked Questions</h5>
              </div>
              <div class="col-sm-12 pt-3">
                <div class="my-sm-4">
                  <p class="bold-weight">Contrary to popular belief, Lorem Ipsum is not simply random text</p>
                  <p>It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur,
                    from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
                </div>
                <div class="my-sm-4">
                  <p class="bold-weight">Contrary to popular belief, Lorem Ipsum is not simply random text</p>
                  <p>It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur,
                    from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
                </div>
                <div class="my-sm-4">
                  <p class="bold-weight">Contrary to popular belief, Lorem Ipsum is not simply random text</p>
                  <p>It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur,
                    from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}

{% endblock %}

{% block jsfooter %}
  <script src="{{ url('/') }}js/rangeslider.js"></script>
  <script>
    $(function() {

      /* Image Change Buttons */
      $('.cover-image-container').mouseover(function(e) {
        $(this).find('.cover-image-controls').removeClass('disabled-customised');
        $(this).find('.cover-image-controls').addClass('active-customised');
      })

      $('.cover-image-container').mouseout(function(e) {
        $(this).find('.cover-image-controls').removeClass('active-customised');
        $(this).find('.cover-image-controls').addClass('disabled-customised');
      })

      $('.profile-pic-container').mouseover(function(e) {
        $(this).find('.profile-pic-controls').removeClass('disabled-customised');
        $(this).find('.profile-pic-controls').addClass('active-customised');
      })

      $('.profile-pic-container').mouseout(function(e) {
        $(this).find('.profile-pic-controls').removeClass('active-customised');
        $(this).find('.profile-pic-controls').addClass('disabled-customised');
      })

      $('#edit-about').on('click', function(e) {
        let editableElements = $('.editableContent');
        let editButton = $(this);
        let saveButton = $('#save-about');

        let val = editableElements.attr('contenteditable');
        if(!val) {
          editableElements.attr('contenteditable', 'true');


        } else {
          editableElements.removeAttr('contenteditable');
        }

        saveButton.toggleClass('disabled-customised');
        saveButton.toggleClass('active-customised');
        editButton.toggleClass('active-customised');
        editButton.toggleClass('disabled-customised');

      })

      $('#save-about').on('click', function(e) {
        let editableElements = $('.editableContent');
        let saveButton = $(this);
        let editButton = $('#edit-about');
        let about_form = $('#profile_about_form');

        let nameFieldVal = $('#name_form_field').val();
        let designationFieldVal = $('#designation_form_field').val();
        let taglineFieldVal = $('#tagline_form_field').val();
        let locationFieldVal = $('#location_form_field').val();
        let aboutFieldVal = $('#about_form_field').val();
        let skillsFieldVal = $('#skills_form_field').val();
        let languagesFieldVal = $('#languages_form_field').val();

        let val = editableElements.attr('contenteditable');
        if(!val) {
          editableElements.attr('contenteditable', 'true');
        } else {
          editableElements.removeAttr('contenteditable');

          $.post("{{ url('/') }}profile/about",
          {
            name: nameFieldVal,
            designation: designationFieldVal,
            tagline: taglineFieldVal,
            location: locationFieldVal,
            about: aboutFieldVal,
            skills: skillsFieldVal,
            languages: languagesFieldVal
          }, function (data, status) {
            if (status) {
              toastr["success"]('Successfully updated!')
              setTimeout(function() {
                location.reload()
              }, 2000)
            } else {
              toastr["error"]('Error sending request!')
            }
          })
        }

        editButton.toggleClass('disabled-customised');
        editButton.toggleClass('active-customised');
        saveButton.toggleClass('active-customised');
        saveButton.toggleClass('disabled-customised');
      })

      /*  */
      $('.editableContent').bind("DOMSubtreeModified",function(){
        let name = $('#name_input').text().trim();
        let designation = $('#designation_input').text().trim();
        let tagline = $('#tagline_input').text().trim();
        let location = $('#location_input').text().trim();
        let about = $('#about_input').text().trim();
        let skills = $('#skills_input').text().trim();
        let languages = $('#languages_input').text().trim();

        let nameField = $('#name_form_field');
        let designationField = $('#designation_form_field');
        let taglineField = $('#tagline_form_field');
        let locationField = $('#location_form_field');
        let aboutField = $('#about_form_field');
        let skillsField = $('#skills_form_field');
        let languagesField = $('#languages_form_field');

        nameField.val(name);
        designationField.val(designation);
        taglineField.val(tagline);
        locationField.val(location);
        aboutField.val(about);
        skillsField.val(skills);
        languagesField.val(languages);
      });

      $('#coverImagePlaceholder').on('click', function(e) {
        $('#cover_image_input').click();
      })

      $('#cover_image_input').change(function(e) {
        $('#coverImageForm').submit();
      })

      $('#profileImagePlaceholder').on('click', function(e) {
        $('#profile_image_input').click();
      })

      $('#profile_image_input').change(function(e) {
        $('#profileImageForm').submit();
      })
    });

    // for chat

    $(function() {
      $('.comment_input').keydown(function(){
        let comment = $(this).val().trim();

        $(this).closest('.row').find('.comment_form_field').val(comment)
      })
      $('.comment_input').keypress(function(e) {
            // Enter pressed?
            if(e.which == 10 || e.which == 13) {
              e.preventDefault();
              $(this).closest('.row').find('.comment_form').submit()
            }
      })

      $('.post_update_input').keydown(function(){
        let post = $(this).val().trim();
        $(this).closest('.box-component').find('.post_form_field').val(post)
      })
      $('.post-button').on('click', function(e) {
        $(this).closest('.box-component').find('.post_form').submit()
      })

      $('.likes_count').on('click', function(e) {
        let count = $(this).find('.likes_count_num').text();
        count++;
        $(this).find('.likes_count_num').text(count);
      })

      $('.add-image-button').on('click', function(e) {
        $('#post_image').click();
      })
    })


    $('input[type="range"]').rangeslider({
    // Feature detection the default is `true`.
      // Set this to `false` if you want to use
      // the polyfill also in Browsers which support
      // the native <input type="range"> element.
      polyfill: false,

      // Default CSS classes
      rangeClass: 'rangeslider',
      disabledClass: 'rangeslider--disabled',
      horizontalClass: 'rangeslider--horizontal',
      fillClass: 'rangeslider__fill',
      handleClass: 'rangeslider__handle',

      // Callback function
      onInit: function() {
        $rangeEl = this.$range;
        // add value label to handle
        var $handle = $rangeEl.find('.rangeslider__handle');
        var handleValue = '<div class="rangeslider__handle__value">' + this.value + '</div>';
        $handle.append(handleValue);

        // get range index labels
        var rangeLabels = this.$element.attr('labels');
        rangeLabels = rangeLabels.split(', ');

        // add labels
        $rangeEl.append('<div class="rangeslider__labels"></div>');
        $(rangeLabels).each(function(index, value) {
          $rangeEl.find('.rangeslider__labels').append('<span class="rangeslider__labels__label">' + value + '</span>');
        })
      },

      // Callback function
      onSlide: function(position, value) {
        var $handle = this.$range.find('.rangeslider__handle__value');
        $handle.text(this.value);
      },

      // Callback function
      onSlideEnd: function(position, value) {}
  });

  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
{% endblock %}
