{% extends 'layouts/default' %}

{% block csshead %}
<style>
  .cover-image-container,
  .profile-pic-container {
    position: relative;
  }

  .cover-image-controls {
    position: absolute;
    left: 42%;
    top: 42%;
    color: #FFFFFF;
    font-size: 1em;
    background-color: rgba(0, 0, 0, 0.8);
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 5px;
    display: inline-block;
    padding: 0.8em 2em;
    z-index: 99;
    cursor: pointer;
  }

  .cover-image-controls.disabled-customised,
  .profile-pic-controls.disabled-customised {
    display: none;
  }

  .cover-image-controls.active-customised,
  .profile-pic-controls.active-customised {
    display: inline-block;
  }

  .profile-pic-controls {
    position: absolute;
    bottom: -20px;
    color: #e4e1e1;
    font-size: 0.73em;
    background-color: rgba(0, 0, 0, 0.2);
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 5px;
    display: inline-block;
    padding: 0.8em 1em;
    z-index: 99;
    cursor: pointer;
  }

  [contenteditable] {
    outline: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
  }

  .support-user-image {
    height: 40px;
    width: 40px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
  }

  .individual-project-image {
    height: 12em;
    width: 12em;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 25px;
  }

  {# css for timeline #}
  .timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}

.timeline > li {
  margin-bottom: 20px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-badge.primary {
  background-color: #2e6da4 !important;
}

.timeline-badge.success {
  background-color: #3f903f !important;
}

.timeline-badge.warning {
  background-color: #f0ad4e !important;
}

.timeline-badge.danger {
  background-color: #d9534f !important;
}

.timeline-badge.info {
  background-color: #5bc0de !important;
}

.timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}

</style>
{% endblock %}

{% block jshead %}{% endblock %}

{% block content %}

{% for projectDetail in projectDetails %}
  <div class="jumbotron bg-header">
    <div class="container" style="width: 1000px">
      <div class="content-header">
        <div class="row">
          <div class="col-sm-5" style="position: relative; left: -50px">
            <a href="{{ url('/') }}project/{{ projectDetail.project.id }}">
              <img class="individual-project-image" src="{{ projectDetail.project.image }}">
            </a>
          </div>
          <div class="col-sm-7">
            <div class="row">
              <div class="col-sm-10">
                <h3>{{ projectDetail.project.name }}</h3>
                <h6 class="user-handle">
                  Created by:
                  @ <a href="{{ url('/') }}user/{{ projectDetail.user.id }}">{{ projectDetail.user.username }}</a>
                </h6>
              </div>
              <div class="col-sm-2">
                <button type="button" class="btn btn-outline-danger action-btn">Edit</button>
              </div>
            </div>
            <p class="description">
              {{ projectDetail.project.description }}
            </p>
          </div>
        </div>
      </div>

      <div class="row mt-sm-5 d-flex justify-content-between">
        <div class="" style="">
          <h3>DSI: {{ projectDetail.project.dsi_rating }}</h3>
        </div>
        <div class="d-flex justify-content-end">
          <div class="mx-1">
            <button type="button" class="btn btn-outline-danger action-btn btn-long"><i class="fas fa-envelope-open"></i> &nbsp; Subscribe</button>
          </div>
          <div class="mx-1">
            <button type="button" class="btn btn-outline-danger action-btn btn-long"><i class="fas fa-rupee-sign"></i> &nbsp; Donate</button>
          </div>

          <div class="mx-1">
            <button type="button" class="btn btn-outline-danger action-btn btn-long"><i class="fas fa-users"></i> &nbsp; Volunteer</button>
          </div>
          <div class="mx-1">
            <button type="button" class="btn btn-outline-danger action-btn btn-long"><i class="fas fa-share-alt"></i> &nbsp; Share</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="nav-holder">
    <div class="container-fluid">
      <div class="container">

        <div class="nav-section">
          <ul class="nav nav-tabs nav-custom" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="campaign-tab" data-toggle="tab" href="#campaign" role="tab" aria-controls="campaign" aria-selected="false">Campaign</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="timeline-tab" data-toggle="tab" href="#timeline" role="tab" aria-controls="timeline" aria-selected="false">Timeline</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="gallery-tab" data-toggle="tab" href="#gallery" role="tab" aria-controls="gallery" aria-selected="false">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="discussion-tab" data-toggle="tab" href="#discussion" role="tab" aria-controls="discussion" aria-selected="false">Discussion</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="support-tab" data-toggle="tab" href="#support" role="tab" aria-controls="support" aria-selected="false">Support</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="rating-tab" data-toggle="tab" href="#rating" role="tab" aria-controls="rating" aria-selected="false">Rating</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="faq-tab" data-toggle="tab" href="#faq" role="tab" aria-controls="faq" aria-selected="false">FAQ</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="main-content-container container-fluid">
    <div class="main-content container">
      <div class="general-info">
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="campaign" role="tabpanel" aria-labelledby="campaign-tab">
            <div class="box-component">
              <div class="container">
                <div class="row">
                  <div class="col-sm-12">
                    <h6>Campaign</h6>
                  </div>
                  <div class="col-sm-12 pt-3">
                    <div class="row">
                      <div class="col-sm-2">
                        <h6 class="light-text small-head bold-weight">
                          Name
                        </h6>
                      </div>
                      <div class="col-sm-10">
                        <p class="light-text small-head">
                          {{ projectDetail.project.name }}
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="row">
                      <div class="col-sm-2">
                        <h6 class="light-text small-head bold-weight">
                          Tagline
                        </h6>
                      </div>
                      <div class="col-sm-10">
                        <p class="light-text small-head">
                          {{ projectDetail.project.tagline }}
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="row">
                      <div class="col-sm-2">
                        <h6 class="light-text small-head bold-weight">
                          Purpose
                        </h6>
                      </div>
                      <div class="col-sm-10">
                        <p class="light-text small-head">
                          {{ projectDetail.project.purpose }}
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="row">
                      <div class="col-sm-2">
                        <h6 class="light-text small-head bold-weight">
                          Tags
                        </h6>
                      </div>
                      <div class="col-sm-10">
                        <p class="light-text small-head">
                          {{ projectDetail.project.tags }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="timeline" role="tabpanel" aria-labelledby="projects-tab">
            <div class="box-component">
              <div class="container">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="container">
  <div class="page-header">
    <h1 id="timeline">Timeline</h1>
  </div>
  <ul class="timeline">
    <li>
      <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title"><img class="fr-dib fr-fil fr-draggable" src="https://d2zcpk7yfyf2dq.cloudfront.net/milaap/image/upload/c_limit,w_1170/v1500417094/production/images/uploader_images/image1_1500417092.jpg" style="width: 380px; height: 240px;" data-full_image_url="https://d2zcpk7yfyf2dq.cloudfront.net/milaap/image/upload/v1500417094/production/images/uploader_images/image1_1500417092.jpg" data-thumb_url="https://d2zcpk7yfyf2dq.cloudfront.net/milaap/image/upload/c_fit,h_70,w_125/v1500417094/production/images/uploader_images/image1_1500417092.jpg" data-id="134735"></h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago </small></p>
        </div>
        <div class="timeline-body">
          <p>Dear Supporters,
At the outset, I am happy to inform you that Avishi is doing much better now and is on her path to recovery. The treatment has been going well and the enzyme "Arylsulfatase B" which was missing from her body (responsible for her rare genetic condition  MPS Type 6 / Mucopolysaccharidosis Type 6) is now being produced by her own body in adequate quantity. We are still at Netherlands and the treatment will take some more time.</p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h2 class="timeline-title">Funding successful !</h2>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago </small></p>
        </div>
        <div class="timeline-body">
          <p>Thanks you all for making this campaign successful</p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title"><img class="fr-dib fr-fil fr-draggable" src="https://d2zcpk7yfyf2dq.cloudfront.net/milaap/image/upload/c_limit,w_1170/v1500417722/production/images/uploader_images/image5_1500417721.jpg" style="width: 380px; height: 240px;" data-full_image_url="https://d2zcpk7yfyf2dq.cloudfront.net/milaap/image/upload/v1500417722/production/images/uploader_images/image5_1500417721.jpg" data-thumb_url="https://d2zcpk7yfyf2dq.cloudfront.net/milaap/image/upload/c_fit,h_70,w_125/v1500417722/production/images/uploader_images/image5_1500417721.jpg" data-id="134745"></h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2 hours ago </small></p>
        </div>
        <div class="timeline-body">
          <p>Avishi was admitted to the hospital on 14-Nov-2016. After preparing her body for the new donor cells cells using Immunotherapy and Chemotherapy (which kills existing cells to make space for the new cells), the Stem Cell Transplantation took place on 25-Nov-2016. As mentioned in previous post, a Central Line (Hickman Catheter) was put on first day of hospital admission through a minor surgery on the right side of her chest. In the hospital room, they connected multiple IV Infusion lines to the Central Line. It started with two IV Infusion lines and there was a time when there were eight intravenous infusion lines connected at the same time through multiple extension connections. All the medicines were being given through these lines and her body was in a state of zero immunity (as her original body cells were destroyed or depleted to make space for infusion of new cells). </p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title"><img class="fr-dib fr-fil fr-draggable" src="https://d2zcpk7yfyf2dq.cloudfront.net/milaap/image/upload/c_limit,w_1170/v1500417239/production/images/uploader_images/image2_1500417238.jpg" style="width: 380px; height: 240px;" data-full_image_url="https://d2zcpk7yfyf2dq.cloudfront.net/milaap/image/upload/v1500417239/production/images/uploader_images/image2_1500417238.jpg" data-thumb_url="https://d2zcpk7yfyf2dq.cloudfront.net/milaap/image/upload/c_fit,h_70,w_125/v1500417239/production/images/uploader_images/image2_1500417238.jpg" data-id="134736"></h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 3 days ago </small></p>
        </div>
        <div class="timeline-body">
          <p>The main process of transplanting the cells or infusion of new cells in Avishi's body was done on 25-November-2016. There was a lot of fear and anxiety as to how her body would react to the new cells. The first thirty minutes after infusion of new cells are very critical. Thankfully there were no complications and the infusion of new cells was declared as completed. These donor stem cells, once inside the body, slowly grow and multiply over a period of time.</p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h2 class="timeline-title">Funding started</h2>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago </small></p>
        </div>
        <div class="timeline-body">
          <p>For helping Avishi. Look for project details in the campaign page</p>
        </div>
      </div>
    </li>
  </ul>
</div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="gallery" role="tabpanel" aria-labelledby="gallery-tab">
            <div class="box-component">
              <div class="container">
                <div class="row">
                  <div class="col-sm-12">
                    <h6>Gallery</h6>
                  </div>
                  <!-- Images used to open the lightbox -->
                  <div class="img-row">
                    <div class="img-column">
                      <img src="http://www.whywesuffer.com/wp-content/uploads/2013/04/WWS-Women.jpg" class="img-fluid thumbnail hover-shadow" onclick="openModal();currentSlide(1)">
                    </div>
                    <div class="img-column">
                      <img src="http://www.whywesuffer.com/wp-content/uploads/2013/04/WWS-Women.jpg" class="img-fluid thumbnail hover-shadow" onclick="openModal();currentSlide(2)">
                    </div>
                    <div class="img-column">
                      <img src="http://www.whywesuffer.com/wp-content/uploads/2013/04/WWS-Women.jpg" class="img-fluid thumbnail hover-shadow" onclick="openModal();currentSlide(3)">
                    </div>
                    <div class="img-column">
                      <img src="http://www.whywesuffer.com/wp-content/uploads/2013/04/WWS-Women.jpg" class="img-fluid thumbnail hover-shadow" onclick="openModal();currentSlide(4)">
                    </div>
                  </div>

                  <!-- The Modal/Lightbox -->
                  <div id="imageModal" class="img-modal">
                    <span class="close cursor" onclick="closeModal()">&times;</span>
                    <div class="img-modal-content">

                      <div class="img-slides">
                        <div class="numbertext">1 / 4</div>
                        <img src="http://www.whywesuffer.com/wp-content/uploads/2013/04/WWS-Women.jpg" class="selected-img">
                      </div>

                      <div class="img-slides">
                        <div class="numbertext">2 / 4</div>
                        <img src="http://www.whywesuffer.com/wp-content/uploads/2013/04/WWS-Women.jpg" class="selected-img">
                      </div>

                      <div class="img-slides">
                        <div class="numbertext">3 / 4</div>
                        <img src="http://www.whywesuffer.com/wp-content/uploads/2013/04/WWS-Women.jpg" class="selected-img">
                      </div>

                      <div class="img-slides">
                        <div class="numbertext">4 / 4</div>
                        <img src="http://www.whywesuffer.com/wp-content/uploads/2013/04/WWS-Women.jpg" class="selected-img">
                      </div>

                      <!-- Next/previous controls -->
                      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                      <a class="next" onclick="plusSlides(1)">&#10095;</a>

                      <!-- Caption text -->
                      <div class="caption-container">
                        <p id="caption"></p>
                      </div>

                      <!-- Thumbnail image controls -->
                      <div class="img-column">
                        <img class="demo thumbnail" src="http://www.whywesuffer.com/wp-content/uploads/2013/04/WWS-Women.jpg" onclick="currentSlide(1)" alt="IMG1">
                      </div>

                      <div class="img-column">
                        <img class="demo thumbnail" src="http://www.whywesuffer.com/wp-content/uploads/2013/04/WWS-Women.jpg" onclick="currentSlide(2)" alt="IMG2">
                      </div>

                      <div class="img-column">
                        <img class="demo thumbnail" src="http://www.whywesuffer.com/wp-content/uploads/2013/04/WWS-Women.jpg" onclick="currentSlide(3)" alt="IMG3">
                      </div>

                      <div class="img-column">
                        <img class="demo thumbnail" src="http://www.whywesuffer.com/wp-content/uploads/2013/04/WWS-Women.jpg" onclick="currentSlide(4)" alt="IMG4">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="discussion" role="tabpanel" aria-labelledby="discussion-tab">
            <div class="box-component">
              <div class="container">
                <div class="col-sm-12">
                  <h6>Discussion</h6>
                </div>
                <form action="">
                  <div class="form-group row mt-sm-4">

                    <h5 class="col-sm-1 col-form-label">Nikhil:</h5>

                    <div class="col-sm-11">
                      <textarea id="messageBox" rows="5" class="form-control" placeholder="Write here!!">
                      </textarea>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-10 offset-sm-2">
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                  </div>
                </form>
                <hr/>
                <div class="row">
                  <span class="col-sm-2 bold-weight">User 1 said</span>
                  <p class="col-sm-10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                </div>
                <div class="row">
                  <span class="col-sm-2 bold-weight">User 2 said</span>
                  <p class="col-sm-10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                </div>
                <div class="row">
                  <span class="col-sm-2 bold-weight">User 3 said</span>
                  <p class="col-sm-10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                </div>
                <div class="row">
                  <span class="col-sm-2 bold-weight">User 4 said</span>
                  <p class="col-sm-10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="support" role="tabpanel" aria-labelledby="support-tab">
            <div class="box-component">
              <div class="container">
                <div class="row">
                  <div class="col-sm-12">
                    <h6>Support</h6>
                  </div>
                  <div class="col-sm-6 mt-sm-5">
                    <h6>
                      Volunteers
                      <span class="badge badge-primary">{{ volunteers.length }}</span>
                    </h6>
                    <ul class="list-group">
                    {% for volunteer in volunteers %}
                      <li class="list-group-item">
                        {% if volunteer.user.profile_image %}
                          <img src="{{ volunteer.user.profile_image }}" class="support-user-image"/>
                        {% else %}
                          <img src="{{ url('/') }}img/defaults/default-profile.png" class="support-user-image"/>
                        {% endif %}
                        <a href="{{ url('/') }}user/{{ volunteer.user.id }}" target="_blank">{{ volunteer.user.name }}</a>
                      </li>
                    {% endfor %}
                    </ul>
                  </div>
                  <div class="col-sm-6 mt-sm-5">
                    <h6>
                      Donators
                      <span class="badge badge-primary">{{ donators.length }}</span>
                    </h6>
                    <ul class="list-group">
                    {% for donator in donators %}
                      <li class="list-group-item">
                        {% if donator.user.profile_image %}
                          <img src="{{ donator.user.profile_image }}" class="support-user-image"/>
                        {% else %}
                          <img src="{{ url('/') }}img/defaults/default-profile.png" class="support-user-image"/>
                        {% endif %}
                        &nbsp;&nbsp;
                        <a href="{{ url('/') }}user/{{ donator.user.id }}" target="_blank">{{ donator.user.name }}</a>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="rating" role="tabpanel" aria-labelledby="rating-tab">
            <div class="box-component">
              <div class="container">
                <div class="row">
                  <div class="col-sm-6">
                    <h6>Rate this project</h6>
                  </div>
                  <div class="col-sm-6">
                    <h6>Only for donators</h6>
                  </div>
                </div>
                <div class= "row">
                  <div class="col-sm-12 mt-sm-5">
                
                    <fieldset class="rating">
                      
                      <select id="example">
                        <option value="1">5</option>
                        <option value="1">10</option>
                        <option value="1">15</option>
                        <option value="1">20</option>
                        <option value="1">25</option>
                        <option value="1">30</option>
                        <option value="1">35</option>
                        <option value="1">40</option>
                        <option value="1">45</option>
                        <option value="1">50</option>
                        <option value="1">55</option>
                        <option value="1">60</option>
                        <option value="1">65</option>
                        <option value="1">70</option>
                        <option value="1">75</option>
                        <option value="2">80</option>
                        <option value="3">85</option>
                        <option value="4">90</option>
                        <option value="5">95</option>
                        <option value="6">100</option> 
                      </select>
                    </fieldset>
                  </div>
                  <script>

                    jQuery(function(){
                      console.log("Hello Satyam")
                    });
                  </script>
                  <div class="col-sm-12">
                    <form action="">
                      <div class="form-group row mt-sm-4">

                        <h5 class="col-sm-2 col-form-label">Write a review:</h5>

                        <div class="col-sm-8">
                          <textarea id="messageBox" rows="5" class="form-control" placeholder="Write here!!">
                      </textarea>
                        </div>
                        <div class="col-sm-2">
                          <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                      </div>
                      <div class="form-group row">

                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="faq" role="tabpanel" aria-labelledby="faq-tab">
            <div class="box-component">
              <div class="container">
                <div class="row">
                  <div class="col-sm-12">
                    <h6>Frequently Asked Questions</h6>
                  </div>
                  <div class="col-sm-12 pt-3">
                    <div class="my-sm-4">
                      <p class="bold-weight">Contrary to popular belief, Lorem Ipsum is not simply random text</p>
                      <p>It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur,
                        from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
                    </div>
                    <div class="my-sm-4">
                      <p class="bold-weight">Contrary to popular belief, Lorem Ipsum is not simply random text</p>
                      <p>It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur,
                        from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
                    </div>
                    <div class="my-sm-4">
                      <p class="bold-weight">Contrary to popular belief, Lorem Ipsum is not simply random text</p>
                      <p>It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur,
                        from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
{% endfor %}

{% endblock %}

{% block jsfooter %}
  <script>
    $(function() {

      /* Image Change Buttons */
      $('.cover-image-container').mouseover(function(e) {
        $(this).find('.cover-image-controls').removeClass('disabled-customised');
        $(this).find('.cover-image-controls').addClass('active-customised');
      })

      $('.cover-image-container').mouseout(function(e) {
        $(this).find('.cover-image-controls').removeClass('active-customised');
        $(this).find('.cover-image-controls').addClass('disabled-customised');
      })

      $('.profile-pic-container').mouseover(function(e) {
        $(this).find('.profile-pic-controls').removeClass('disabled-customised');
        $(this).find('.profile-pic-controls').addClass('active-customised');
      })

      $('.profile-pic-container').mouseout(function(e) {
        $(this).find('.profile-pic-controls').removeClass('active-customised');
        $(this).find('.profile-pic-controls').addClass('disabled-customised');
      })

      $('#edit-about').on('click', function(e) {
        let editableElements = $('.editableContent');
        let editButton = $(this);
        let saveButton = $('#save-about');

        let val = editableElements.attr('contenteditable');
        if(!val) {
          editableElements.attr('contenteditable', 'true');


        } else {
          editableElements.removeAttr('contenteditable');
        }

        saveButton.toggleClass('disabled-customised');
        saveButton.toggleClass('active-customised');
        editButton.toggleClass('active-customised');
        editButton.toggleClass('disabled-customised');

      })

      $('#save-about').on('click', function(e) {
        let editableElements = $('.editableContent');
        let saveButton = $(this);
        let editButton = $('#edit-about');
        let about_form = $('#profile_about_form');

        let nameFieldVal = $('#name_form_field').val();
        let designationFieldVal = $('#designation_form_field').val();
        let taglineFieldVal = $('#tagline_form_field').val();
        let locationFieldVal = $('#location_form_field').val();
        let aboutFieldVal = $('#about_form_field').val();
        let skillsFieldVal = $('#skills_form_field').val();
        let languagesFieldVal = $('#languages_form_field').val();

        let val = editableElements.attr('contenteditable');
        if(!val) {
          editableElements.attr('contenteditable', 'true');
        } else {
          editableElements.removeAttr('contenteditable');

          $.post("{{ url('/') }}profile/about",
          {
            name: nameFieldVal,
            designation: designationFieldVal,
            tagline: taglineFieldVal,
            location: locationFieldVal,
            about: aboutFieldVal,
            skills: skillsFieldVal,
            languages: languagesFieldVal
          }, function (data, status) {
            if (status) {
              toastr["success"]('Successfully updated!')
              setTimeout(function() {
                location.reload()
              }, 2000)
            } else {
              toastr["error"]('Error sending request!')
            }
          })
        }

        editButton.toggleClass('disabled-customised');
        editButton.toggleClass('active-customised');
        saveButton.toggleClass('active-customised');
        saveButton.toggleClass('disabled-customised');
      })

      /*  */
      $('.editableContent').bind("DOMSubtreeModified",function(){
        let name = $('#name_input').text().trim();
        let designation = $('#designation_input').text().trim();
        let tagline = $('#tagline_input').text().trim();
        let location = $('#location_input').text().trim();
        let about = $('#about_input').text().trim();
        let skills = $('#skills_input').text().trim();
        let languages = $('#languages_input').text().trim();

        let nameField = $('#name_form_field');
        let designationField = $('#designation_form_field');
        let taglineField = $('#tagline_form_field');
        let locationField = $('#location_form_field');
        let aboutField = $('#about_form_field');
        let skillsField = $('#skills_form_field');
        let languagesField = $('#languages_form_field');

        nameField.val(name);
        designationField.val(designation);
        taglineField.val(tagline);
        locationField.val(location);
        aboutField.val(about);
        skillsField.val(skills);
        languagesField.val(languages);
      });

      $('#coverImagePlaceholder').on('click', function(e) {
        $('#cover_image_input').click();
      })

      $('#cover_image_input').change(function(e) {
        $('#coverImageForm').submit();
      })

      $('#profileImagePlaceholder').on('click', function(e) {
        $('#profile_image_input').click();
      })

      $('#profile_image_input').change(function(e) {
        $('#profileImageForm').submit();
      })
    });

                  
              
  </script>
{% endblock %}
