html, body {
  font-family: 'Lato', sans-serif;
}

nav.navbar {
  -webkit-box-shadow: 0 0 8px #999;
  -moz-box-shadow: 0 0 8px #999;
  box-shadow: 0 0 8px #999;
  background-color: #fff;
}

nav.navbar .navbar-brand {
  font-family: 'Montserrat', sans-serif;
}

nav a {
  color:#4A4A4A;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}