{% extends 'layouts/default' %}

{% block csshead %}
<style>
  .cover-image-container,
  .profile-pic-container {
    position: relative;
  }

  .cover-image-controls {
    position: absolute;
    left: 42%;
    top: 42%;
    color: #FFFFFF;
    font-size: 1em;
    background-color: rgba(0, 0, 0, 0.8);
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 5px;
    display: inline-block;
    padding: 0.8em 2em;
    z-index: 99;
    cursor: pointer;
  }

  .cover-image-controls.disabled-customised,
  .profile-pic-controls.disabled-customised {
    display: none;
  }

  .cover-image-controls.active-customised,
  .profile-pic-controls.active-customised {
    display: inline-block;
  }

  .profile-pic-controls {
    position: absolute;
    bottom: -20px;
    color: #e4e1e1;
    font-size: 0.73em;
    background-color: rgba(0, 0, 0, 0.2);
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 5px;
    display: inline-block;
    padding: 0.8em 1em;
    z-index: 99;
    cursor: pointer;
  }

  [contenteditable] {
    outline: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
  }

</style>
{% endblock %}

{% block jshead %}{% endblock %}

{% block content %}
<div class="cover-image-container container-fluid">
  <div class="cover-image-controls disabled-customised">
    <span id="coverImagePlaceholder">
      <i class="far fa-image"></i> &nbsp; Change Cover Image
    </span>
    <form class="disabled-customised" id="coverImageForm" method="post" action="{{ url('/') }}profile/updateCoverImage" enctype="multipart/form-data">
      <input type="file" name="cover_image" id="cover_image_input" accept="image/*"/>
    </form>
  </div>

  <div class="cover-image">
    {% if user.cover_image %}
      <img src="{{ user.cover_image }}" />
    {% else %}
      <img src="{{ url('/') }}img/defaults/default-cover.jpg" />
    {% endif %}
  </div>
</div>
<div class="nav-holder">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 profile-pic-container">
          <div class="profile-pic-controls disabled-customised">
            <span id="profileImagePlaceholder">
              <i class="far fa-image"></i> &nbsp; Change Profile Image
            </span>
            <form class="disabled-customised" id="profileImageForm" method="post" action="{{ url('/') }}profile/updateProfileImage" enctype="multipart/form-data">
              <input type="file" name="profile_image" id="profile_image_input" accept="image/*"/>
            </form>
          </div>
          <div class="profile-pic">
          {% if user.profile_image %}
            <img src="{{ user.profile_image }}" />
          {% else %}
            <img src="{{ url('/') }}img/defaults/default-profile.png" />
          {% endif %}
          </div>
        </div>
        <div class="nav-section col-sm-9">
          <ul class="nav nav-tabs nav-custom" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="about-tab" data-toggle="tab" href="#about" role="tab" aria-controls="about" aria-selected="false">ABOUT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="projects-tab" data-toggle="tab" href="#projects" role="tab" aria-controls="projects" aria-selected="false">PROJECTS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="organisations-tab" data-toggle="tab" href="#organisations" role="tab" aria-controls="organisations"
                aria-selected="false">ORGANISATIONS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="interests-tab" data-toggle="tab" href="#interests" role="tab" aria-controls="interests" aria-selected="false">INTERESTS</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main-content-container container-fluid">
  <div class="main-content container">
    <div class="row">
      <div class="col-sm-3 left-side-nav">
        <div class="box-component user-information">
          <div class="profile-info-view">
            <h5 class="user-name">{{ user.name }}</h5>
            <h6 class="user-handle">@{{ user.username }}</h6>
            <hr class="full-width-hr" />
            <div class="user-followers">
              <div class="following">
                <span class="num">289</span>
                Following
              </div>
              <div class="followers">
                <span class="num">122</span>
                Followers
              </div>
            </div>
          </div>
          <div class="profile-info-edit">
          </div>
        </div>
      </div>
      <div class="col-sm-9 general-info">
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="about-tab">
            <div class="box-component">
              <div class="container">
                <div class="row">
                  <div class="col-sm-12 d-flex justify-content-between align-items-center">
                    <div>
                      <h6>General</h6>
                    </div>
                    <div>
                      <button class="btn btn-custom-designed btn-small active-customised" id="edit-about"><i class="fas fa-pencil-alt"></i> &nbsp;Edit</button>
                      <button class="btn btn-custom-designed btn-small disabled-customised" id="save-about"><i class="fas fa-save"></i> &nbsp;Save</button>
                    </div>
                  </div>

                  <div class="col-sm-12 my-2 pt-3">
                    <div class="row">
                      <div class="col-sm-2">
                        <h6 class="light-text small-head bold-weight">
                          Name
                        </h6>
                      </div>
                      <div class="col-sm-10">
                        <p class="light-text small-head editableContent my-0" id="name_input">
                          {{ user.name }}
                        </p>
                      </div>
                    </div>
                  </div>
                   <div class="col-sm-12 my-2">
                    <div class="row">
                      <div class="col-sm-2">
                        <h6 class="light-text small-head bold-weight">
                          Designation
                        </h6>
                      </div>
                      <div class="col-sm-10">
                        <p class="light-text small-head editableContent my-0" id="designation_input">
                          {{ user.designation }}
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 my-2">
                    <div class="row">
                      <div class="col-sm-2">
                        <h6 class="light-text small-head bold-weight">
                          Tagline
                        </h6>
                      </div>
                      <div class="col-sm-10">
                        <p class="light-text small-head editableContent my-0" id="tagline_input">
                          {{ user.tagline }}
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 my-2">
                    <div class="row">
                      <div class="col-sm-2">
                        <h6 class="light-text small-head bold-weight">
                          Location
                        </h6>
                      </div>
                      <div class="col-sm-10">
                        <p class="light-text small-head editableContent my-0" id="location_input">
                          {{ user.location }}
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 my-2">
                    <div class="row">
                      <div class="col-sm-2">
                        <h6 class="light-text small-head bold-weight">
                          About Me
                        </h6>
                      </div>
                      <div class="col-sm-10">
                        <p class="light-text small-head editableContent my-0" id="about_input">
                          {{ user.about }}
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 my-2">
                    <div class="row">
                      <div class="col-sm-2">
                        <h6 class="light-text small-head bold-weight">
                          Skills
                        </h6>
                      </div>
                      <div class="col-sm-10">
                        <p class="light-text small-head editableContent my-0" id="skills_input">
                          {{ user.skills }}
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 my-2">
                    <div class="row">
                      <div class="col-sm-2">
                        <h6 class="light-text small-head bold-weight">
                          Languages Spoken
                        </h6>
                      </div>
                      <div class="col-sm-10">
                        <p class="light-text small-head editableContent my-0" id="languages_input">
                          {{ user.languages }}
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="disabled-customised">
                    <form id="profile_about_form" action="" method="POST">
                      <input type="hidden" name="name" id="name_form_field">
                      <input type="hidden" name="designation" id="designation_form_field">
                      <input type="hidden" name="tagline" id="tagline_form_field">
                      <input type="hidden" name="location" id="location_form_field">
                      <input type="hidden" name="about" id="about_form_field">
                      <input type="hidden" name="skills" id="skills_form_field">
                      <input type="hidden" name="languages" id="languages_form_field">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="projects" role="tabpanel" aria-labelledby="projects-tab">
            <div class="box-component">
              <div class="container">
                <div class="row">
                  <div class="col-sm-12 d-flex justify-content-between">
                    <div>
                      <h6>Projects</h6>
                    </div>
                    <div>
                      <button class="btn btn-custom-designed btn-small">
                        <a href="{{ url('/') }}project/add"><i class="fas fa-plus"></i> &nbsp;Add Project</a>
                      </button>
                    </div>
                  </div>
                  <div class="pt-3">
                  {% for project in projects %}
                    <div class="col-sm-12">
                      <div class="row">
                        <div class="col-sm-2">
                          <h6 class="light-text small-head bold-weight">
                            Project #{{ loop.index }}
                          </h6>
                        </div>
                        <div class="col-sm-10">
                          <h6><a href="{{ url('/') }}project/{{ project.id }}">{{ project.name }}</a></h6>
                          <p class="light-text small-head">
                            {{ project.description }}
                          </p>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="organisations" role="tabpanel" aria-labelledby="organisations-tab">
            <div class="box-component">
              <div class="container">
                <div class="row">
                  <div class="col-sm-12 d-flex justify-content-between">
                    <div>
                      <h6>Organisations</h6>
                    </div>
                    <div>
                      <button class="btn btn-custom-designed btn-small">
                        <a href="{{ url('/') }}organisation/add"><i class="fas fa-plus"></i> &nbsp;Add Organisation</a>
                      </button>
                    </div>
                  </div>
                  <div class="pt-3" style="width: 100%">
                  {% for organisation in organisations %}
                    <div class="col-sm-12">
                      <div class="row d-flex">
                        <div class="col-sm-2 organisation-image">
                          {% if organisation.image %}
                          <img src="{{ organisation.image }}" class="organisation-logo" alt="{{ organisation.name }}"/>
                          {% else %}
                          <img src="{{ url('/') }}img/defaults/default-organisation.png" class="organisation-logo" alt="{{ organisation.name }}" />
                          {% endif %}
                        </div>
                        <div class="col-sm-10">
                          <h6><a href="{{ url('/') }}organisations/{{organisation.id}}">{{ organisation.name }}</a></h6>
                          <p class="light-text small-head">
                           {{ organisation.description }}
                          </p>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="interests" role="tabpanel" aria-labelledby="interests-tab">
            <div class="box-component">
              <div class="container">
                <div class="row">
                  <div class="col-sm-12 d-flex justify-content-between">
                    <div>
                      <h6>Interests</h6>
                    </div>
                    <div>
                      <button class="btn btn-custom-designed btn-small">
                        <a href="#"><i class="fas fa-plus"></i> &nbsp;Add Interests</a>
                      </button>
                    </div>
                  </div>
                  <div class="col-sm-12 pt-3">
                    <div class="row d-flex align-items-center justify-content-flex-start">
                      {% for interest in interests %}
                      <div class="sectional-tabs">{{ interest }}</div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block jsfooter %}
  <script>
    $(function() {

      /* Image Change Buttons */
      $('.cover-image-container').mouseover(function(e) {
        $(this).find('.cover-image-controls').removeClass('disabled-customised');
        $(this).find('.cover-image-controls').addClass('active-customised');
      })

      $('.cover-image-container').mouseout(function(e) {
        $(this).find('.cover-image-controls').removeClass('active-customised');
        $(this).find('.cover-image-controls').addClass('disabled-customised');
      })

      $('.profile-pic-container').mouseover(function(e) {
        $(this).find('.profile-pic-controls').removeClass('disabled-customised');
        $(this).find('.profile-pic-controls').addClass('active-customised');
      })

      $('.profile-pic-container').mouseout(function(e) {
        $(this).find('.profile-pic-controls').removeClass('active-customised');
        $(this).find('.profile-pic-controls').addClass('disabled-customised');
      })

      $('#edit-about').on('click', function(e) {
        let editableElements = $('.editableContent');
        let editButton = $(this);
        let saveButton = $('#save-about');

        let val = editableElements.attr('contenteditable');
        if(!val) {
          editableElements.attr('contenteditable', 'true');


        } else {
          editableElements.removeAttr('contenteditable');
        }

        saveButton.toggleClass('disabled-customised');
        saveButton.toggleClass('active-customised');
        editButton.toggleClass('active-customised');
        editButton.toggleClass('disabled-customised');

      })

      $('#save-about').on('click', function(e) {
        let editableElements = $('.editableContent');
        let saveButton = $(this);
        let editButton = $('#edit-about');
        let about_form = $('#profile_about_form');

        let nameFieldVal = $('#name_form_field').val();
        let designationFieldVal = $('#designation_form_field').val();
        let taglineFieldVal = $('#tagline_form_field').val();
        let locationFieldVal = $('#location_form_field').val();
        let aboutFieldVal = $('#about_form_field').val();
        let skillsFieldVal = $('#skills_form_field').val();
        let languagesFieldVal = $('#languages_form_field').val();

        let val = editableElements.attr('contenteditable');
        if(!val) {
          editableElements.attr('contenteditable', 'true');
        } else {
          editableElements.removeAttr('contenteditable');

          $.post("{{ url('/') }}profile/about",
          {
            name: nameFieldVal,
            designation: designationFieldVal,
            tagline: taglineFieldVal,
            location: locationFieldVal,
            about: aboutFieldVal,
            skills: skillsFieldVal,
            languages: languagesFieldVal
          }, function (data, status) {
            if (status) {
              toastr["success"]('Successfully updated!')
              setTimeout(function() {
                location.reload()
              }, 2000)
            } else {
              toastr["error"]('Error sending request!')
            }
          })
        }

        editButton.toggleClass('disabled-customised');
        editButton.toggleClass('active-customised');
        saveButton.toggleClass('active-customised');
        saveButton.toggleClass('disabled-customised');
      })

      /*  */
      $('.editableContent').bind("DOMSubtreeModified",function(){
        let name = $('#name_input').text().trim();
        let designation = $('#designation_input').text().trim();
        let tagline = $('#tagline_input').text().trim();
        let location = $('#location_input').text().trim();
        let about = $('#about_input').text().trim();
        let skills = $('#skills_input').text().trim();
        let languages = $('#languages_input').text().trim();

        let nameField = $('#name_form_field');
        let designationField = $('#designation_form_field');
        let taglineField = $('#tagline_form_field');
        let locationField = $('#location_form_field');
        let aboutField = $('#about_form_field');
        let skillsField = $('#skills_form_field');
        let languagesField = $('#languages_form_field');

        nameField.val(name);
        designationField.val(designation);
        taglineField.val(tagline);
        locationField.val(location);
        aboutField.val(about);
        skillsField.val(skills);
        languagesField.val(languages);
      });

      $('#coverImagePlaceholder').on('click', function(e) {
        $('#cover_image_input').click();
      })

      $('#cover_image_input').change(function(e) {
        $('#coverImageForm').submit();
      })

      $('#profileImagePlaceholder').on('click', function(e) {
        $('#profile_image_input').click();
      })

      $('#profile_image_input').change(function(e) {
        $('#profileImageForm').submit();
      })
    });
  </script>
{% endblock %}
