{% extends 'layouts/default' %}

{% block csshead %}
<style>
  .cover-image-container,
  .profile-pic-container {
    position: relative;
  }

  .cover-image-controls {
    position: absolute;
    left: 42%;
    top: 42%;
    color: #FFFFFF;
    font-size: 1em;
    background-color: rgba(0, 0, 0, 0.8);
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 5px;
    display: inline-block;
    padding: 0.8em 2em;
    z-index: 99;
    cursor: pointer;
  }

  .cover-image-controls.disabled,
  .profile-pic-controls.disabled {
    display: none;
  }

  .cover-image-controls.active,
  .profile-pic-controls.active {
    display: inline-block;
  }

  .profile-pic-controls {
    position: absolute;
    bottom: -20px;
    color: #e4e1e1;
    font-size: 0.73em;
    background-color: rgba(0, 0, 0, 0.2);
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 5px;
    display: inline-block;
    padding: 0.8em 1em;
    z-index: 99;
    cursor: pointer;
  }

</style>
{% endblock %}

{% block jshead %}{% endblock %}

{% block content %}
<div class="cover-image-container container-fluid">
  <div class="cover-image-controls disabled">
    <span>
      <i class="far fa-image"></i> &nbsp; Change Cover Image
    </span>
  </div>
  <div class="cover-image">
    <img src="https://s3.ap-south-1.amazonaws.com/static3.tagtaste.com/images/p/160/hi/DtMryWkuZy5AApHMAUXIR7bwVfpf27az.jpg"
    />
  </div>
</div>
<div class="nav-holder">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 profile-pic-container">
          <div class="profile-pic-controls disabled">
            <i class="far fa-image"></i> &nbsp; Change Profile Image
          </div>
          <div class="profile-pic">
            <img src="https://s3.ap-south-1.amazonaws.com/static3.tagtaste.com/images/p/160/YlLSHH0nVMp8djXOpRDj.jpg" />
          </div>
        </div>
        <div class="nav-section col-sm-9">
          <ul class="nav nav-tabs nav-custom" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="about-tab" data-toggle="tab" href="#about" role="tab" aria-controls="about" aria-selected="false">ABOUT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="projects-tab" data-toggle="tab" href="#projects" role="tab" aria-controls="projects" aria-selected="false">PROJECTS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="organisations-tab" data-toggle="tab" href="#organisations" role="tab" aria-controls="organisations"
                aria-selected="false">ORGANISATIONS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="interests-tab" data-toggle="tab" href="#interests" role="tab" aria-controls="interests" aria-selected="false">INTERESTS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="activity-tab" data-toggle="tab" href="#activity" role="tab" aria-controls="activity" aria-selected="false">ACTIVITY</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main-content-container container-fluid">
  <div class="main-content container">
    <div class="row">
      <div class="col-sm-3 left-side-nav">
        <div class="box-component user-information">
          <div class="profile-info-view">
            <h5 class="user-name">Nikhil Arora</h5>
            <h6 class="user-handle">@niks</h6>
            <hr class="full-width-hr" />
            <div class="user-followers">
              <div class="following">
                <span class="num">289</span>
                Following
              </div>
              <div class="followers">
                <span class="num">122</span>
                Followers
              </div>
            </div>
          </div>
          <div class="profile-info-edit">
          </div>
        </div>
      </div>
      <div class="col-sm-9 general-info">
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="about-tab">
            <div class="box-component">
              <div class="container">
                <div class="row">
                  <div class="col-sm-12">
                    <h6>General</h6>
                  </div>
                  <div class="col-sm-12 pt-3">
                    <div class="row">
                      <div class="col-sm-2">
                        <h6 class="light-text small-head bold-weight">
                          About Me
                        </h6>
                      </div>
                      <div class="col-sm-10">
                        <p class="light-text small-head">
                          Lorem Ipsum Introduction
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="row">
                      <div class="col-sm-2">
                        <h6 class="light-text small-head bold-weight">
                          Skills
                        </h6>
                      </div>
                      <div class="col-sm-10">
                        <p class="light-text small-head">
                          LOREM, IPSUM
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="row">
                      <div class="col-sm-2">
                        <h6 class="light-text small-head bold-weight">
                          Languages Spoken
                        </h6>
                      </div>
                      <div class="col-sm-10">
                        <p class="light-text small-head">
                          ENGLISH, HINDI
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="projects" role="tabpanel" aria-labelledby="projects-tab">
            <div class="box-component">
              <div class="container">
                <div class="row">
                  <div class="col-sm-12">
                    <h6>Projects</h6>
                  </div>
                  <div class="col-sm-12 pt-3">
                    <div class="row">
                      <div class="col-sm-2">
                        <h6 class="light-text small-head bold-weight">
                          Project #1
                        </h6>
                      </div>
                      <div class="col-sm-10">
                        <p class="light-text small-head">
                          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                          text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                          a type specimen book. It has survived not only five centuries, but also the leap into electronic
                          typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
                          of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                          like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="row">
                      <div class="col-sm-2">
                        <h6 class="light-text small-head bold-weight">
                          Project #2
                        </h6>
                      </div>
                      <div class="col-sm-10">
                        <p class="light-text small-head">
                          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                          text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                          a type specimen book. It has survived not only five centuries, but also the leap into electronic
                          typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
                          of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                          like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="row">
                      <div class="col-sm-2">
                        <h6 class="light-text small-head bold-weight">
                          Project #3
                        </h6>
                      </div>
                      <div class="col-sm-10">
                        <p class="light-text small-head">
                          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                          text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                          a type specimen book. It has survived not only five centuries, but also the leap into electronic
                          typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
                          of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                          like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="organisations" role="tabpanel" aria-labelledby="organisations-tab">
            <div class="box-component">
              <div class="container">
                <div class="row">
                  <div class="col-sm-12">
                    <h6>Organisations</h6>
                  </div>
                  <div class="col-sm-12 pt-3">
                    <div class="row d-flex align-items-center">
                      <div class="col-sm-2">
                        <img src="https://ngojobskenya.com//wp-content/uploads/2017/03/care-230x300.png" class="organisation-logo" style="height: 130px;"
                        />
                      </div>
                      <div class="col-sm-10">
                        <p class="light-text small-head">
                          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                          text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                          a type specimen book. It has survived not only five centuries, but also the leap into electronic
                          typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
                          of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                          like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="row d-flex align-items-center">
                      <div class="col-sm-2">
                        <img src="http://www.kingonet.or.tz/themes/kingonet/assets/images/our-works/developingicon.png" class="organisation-logo"
                          style="height: 100px;" />
                        </h6>
                      </div>
                      <div class="col-sm-10">
                        <p class="light-text small-head">
                          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                          text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                          a type specimen book. It has survived not only five centuries, but also the leap into electronic
                          typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
                          of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                          like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="row d-flex align-items-center">
                      <div class="col-sm-2">
                        <img src="https://cdn4.iconfinder.com/data/icons/need-a-helping-hand/60/praying-hands-256.png" class="organisation-logo"
                          style="height: 100px;" />
                      </div>
                      <div class="col-sm-10">
                        <p class="light-text small-head">
                          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                          text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                          a type specimen book. It has survived not only five centuries, but also the leap into electronic
                          typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
                          of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                          like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="interests" role="tabpanel" aria-labelledby="interests-tab">
            <div class="box-component">
              <div class="container">
                <div class="row">
                  <div class="col-sm-12">
                    <h6>Interests</h6>
                  </div>
                  <div class="col-sm-12 pt-3">
                    <div class="row d-flex align-items-center justify-content-flex-start">
                      <div class="sectional-tabs">Women Empowerment</div>
                      <div class="sectional-tabs">Child Empowerment</div>
                      <div class="sectional-tabs">Women Empowerment</div>
                      <div class="sectional-tabs">Child Empowerment</div>
                      <div class="sectional-tabs">Women Empowerment</div>
                      <div class="sectional-tabs">Child Empowerment</div>
                      <div class="sectional-tabs">Women Empowerment</div>
                      <div class="sectional-tabs">Child Empowerment</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block jsfooter %}
  <script>
    $(function() {
      $('.cover-image-container').mouseover(function(e) {
        $(this).find('.cover-image-controls').removeClass('disabled');
        $(this).find('.cover-image-controls').addClass('active');
        console.log('hello');
      })

      $('.cover-image-container').mouseout(function(e) {
        $(this).find('.cover-image-controls').removeClass('active');
        $(this).find('.cover-image-controls').addClass('disabled');
      })

      $('.profile-pic-container').mouseover(function(e) {
        $(this).find('.profile-pic-controls').removeClass('disabled');
        $(this).find('.profile-pic-controls').addClass('active');
        console.log('hello');
      })

      $('.profile-pic-container').mouseout(function(e) {
        $(this).find('.profile-pic-controls').removeClass('active');
        $(this).find('.profile-pic-controls').addClass('disabled');
      })
    });
  </script>
{% endblock %}
