{% extends 'layouts/default' %}
{% block csshead %}
<style>
  .organisation-image {
    -o-object-fit: scale-down;
    object-fit: scale-down;
    background: #ffffff;
  }

  .tag-container {
    padding: 10px 0px 0px 0px;
  }

  .tag-container .tag {
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
    line-height: 17px;
    padding: 4px 12px;
    margin: 2px 8px 6px 0px;
  }

  .extra-small {
    display: block;
    color: rgba(0, 0, 0, 0.7);
    font-size: 12px;
    line-height: normal;
  }

</style>
{% endblock %} {% block jshead %}{% endblock %} {% block content %}
<div class="main-content-container container-fluid">
  <div class="main-content container">
    <div class="row">
      <div class="col-sm-12">
        <div class="box-component d-flex align-items-center">
          <h5 class="mb-0">
            <span style="border-right: 1px solid rgba(0, 0, 0, 0.1); font-size:1.5em;" class="pr-2">Organisations</span>
          </h5>
          <h6 class="mb-0 pl-2 light-text" style="font-size:0.9em;">Use keywords and filters to narrow your search results.</h6>
          <div class="ml-auto pl-2" style="border-left: 1px solid rgba(0, 0, 0, 0.1); font-size: 0.9em">
            QuickLinks
            <br>
            <a href="{{ url('/') }}organisation/add">Add Organisation</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-sm-3 left-side-nav mt-2">
        <div class="box-component user-information">
          <div class="profile-info-view">
            <h6 style="font-size:1em">Keywords</h6>
            <div class="light-text mb-2 pb-2" style="">
              <input type="text" placeholder="Enter your query" class="form-control">
            </div>
            <h6 style="font-size:1em;border-top: 1px solid rgba(0, 0, 0, 0.1);padding-top: 12px;">
              <b>Departments</b>
            </h6>
            <div style="font-size:0.9em">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="dept1">
                <label class="form-check-label" for="defaultCheck1" style="margin-left:0.5em;">
                  Women Empowerment
                </label>
              </div>
              <div class="form-check">
                <!-- add space b/w checkbox and text -->
                <input class="form-check-input" type="checkbox" value="" id="dept2">
                <label class="form-check-label" for="defaultCheck2" style="margin-left:0.5em;">
                  Education
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="dept3">
                <label class="form-check-label" for="defaultCheck2" style="margin-left:0.5em;">
                  Agriculture
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="dept4">
                <label class="form-check-label" for="defaultCheck2" style="margin-left:0.5em;">
                  Health
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="dept5">
                <label class="form-check-label" for="defaultCheck2" style="margin-left:0.5em;">
                  Child rights
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="dept6">
                <label class="form-check-label" for="defaultCheck2" style="margin-left:0.5em;">
                  Transgenders Rights
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="dept7">
                <label class="form-check-label" for="defaultCheck2" style="margin-left:0.5em;">
                  Media and Journalism
                </label>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-sm-9 general-info">
        {% for organisation in organisations %}
          <div class="box-component my-2">
            <div class="container">
              <div class="row d-flex align-items-center">
                <div class="col-sm-2">
                  <div class="image-holder">
                    <a href="{{ url('/') }}organisation/{{ organisation.id }}">
                      <img style="width:100%" src="{{ organisation.image }}"
                        class="organisation-image">
                    </a>
                  </div>
                </div>
                <div class="col-sm-10">
                  <div class="organisation-holder">
                    <a href="{{ url('/') }}organisation/{{ organisation.id }}">
                      <a href="{{ organisation.website }}">{{ organisation.name }}</a>
                    </a>
                    <p class="extra-small">
                      <i class="fas fa-map-marker-alt"></i>&nbsp;{{ organisation.location }}
                    </p>
                    <small>
                      <div>
                        <b>Website: </b>
                        <span class="organisation-subtext">
                          <a href="{{ organisation.website }}">{{ organisation.website }}</a>
                        </span>
                      </div>
                    </small>
                    <small>
                      <div>
                        <b>NGODarpan ID: </b>
                        <span>{{ organisation.ngodarpan_id }}</span>
                      </div>
                    </small>
                    <small>
                      <div>
                        <b>E-Mail: </b>
                        <span>{{ organisation.email }}</span>
                      </div>
                    </small>
                    <small>
                      <div>
                        <b>Credibility Score: </b>
                        <span>{{ organisation.credibility_score }}</span>
                      </div>
                    </small>
                    <div class="tag-container">

                      <span class="tag">Education</span>

                      <span class="tag">Health</span>

                      <span class="tag">Child Rights</span>

                      <span class="tag">Media and Journalism</span>

                    </div>
                     <div class="mt-3 d-flex justify-content-start" style="">
                        <div>
                          <button class="btn btn-custom-designed btn-small mr-2" style="font-size: 0.8em;"><i class="fas fa-envelope-open"></i> &nbsp; Direct contact</button>
                        </div>
                      </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
</div>
</div>

{% endblock %} {% block jsfooter %}
<script>
  $(function () {


  });

</script>
{% endblock %}
