{# This uses bootstrap for posts. I seem to understand this #}

{% extends 'layouts/default' %}

{% block csshead %}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-3 ">
        .col-md-3
    
    </div>
    <div class="col-md-5 ">
        <!--Section: Personal card-->
        <section >
            
            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div >

                    <!--Card-->
                    <div class="card card-personal">

                        <!--Card image-->
                        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(29).jpg" alt="Card image cap">
                        <!--Card image-->

                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <a><h4 class="card-title title-one">Clara</h4></a>
                            <p class="card-meta">Joined in 2013</p>

                            <!--Text-->
                            <p class="card-text">Clara is an photographer living in Madrid.</p>
                            <hr>
                            <a class="card-meta"><span><i class="fa fa-user"></i>22 Friends</span></a>
                        </div>
                        <!--Card content-->

                    </div>
                    <!--Card-->

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </section>
        <!--Section: Personal card-->
    </div>
    <div class="col-md-3">
        <img class="d-flex mr-3" src="https://mdbootstrap.com/img/Photos/Others/avatar-min3.jpg" alt="Generic placeholder image">
        <div class="media-body">
            <h5 class="mt-0 mb-2 font-weight-bold">Natalie Doe</h5>
            <!--Review-->
            <i class="fa fa-star blue-text"> </i>
            <i class="fa fa-star blue-text"> </i>
            <i class="fa fa-star blue-text"> </i>
            <i class="fa fa-star grey-text"> </i>
            <i class="fa fa-star grey-text"> </i>
            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
                purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
                vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
        </div>
        <!--Card-->
            <div class="card testimonial-card">
    
                <!--Background color-->
                <div class="card-up blue-gradient">
                </div>
    
                <!--Avatar-->
                <div class="avatar mx-auto white">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" class="rounded-circle img-fluid">
                </div>
    
                <div class="card-body">
                    <!--Name-->
                    <h4 class="mt-1">
                        <strong>Anna Aston</strong>
                    </h4>
                    <hr>
                    <!--Quotation-->
                    <p class="dark-grey-text">Neque cupiditate assumenda in maiores repudiandae mollitia architecto.</p>
                </div>
    
            </div>
            <!--Card-->
    </div>

</div>
            
{% endblock %}
