{% extends 'layouts/default' %}

{% block csshead %}
<style>
  .wrapper-container {
    margin-top: 30vh;
  }

  .wrapper-container .heading-wrapper {

  }

  .wrapper-container .content-wrapper {

  }
</style>
{% endblock %}
{% block jshead %}{% endblock %}

{% block content %}
<div class='container-fluid'>
  <div class='row'>
    <div class='col-12 col-md-6'>
      <div class="wrapper-container mx-auto">
        <div class="heading-wrapper">
          <h1>Sakshat</h1>
        </div>

        <div class="content-wrapper">
          <p>A (modular, highly tweakable) responsive one-page template designed by HTML5 UP and released for free under the Creative Commons.</p>
        </div>
      </div>
    </div>
    <div class='col-12 col-md-6'>
      <img src="http://via.placeholder.com/641x464" />
    </div>
  </div>
</div>
{% endblock %}

{% block jsfooter %}{% endblock %}
