<!DOCTYPE html>
<html>
  <head>
    <title>Sakshat</title>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="sakshat app" name="keywords">
    <meta content="Sakshat Team" name="author">
    <meta content="Sakshat | SIH-2018" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="{{ url('/') }}assets/favicon.png" rel="shortcut icon">
    <link href="{{ url('/') }}assets/favicon.png" rel="apple-touch-icon">

    <!-- Fonts (Montserrat(Heading) and Poppins(Normal Text)) -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Poppins|Lato" rel="stylesheet">

    <!--  All Compiled CSS (via npm libraries)  -->
    <link href="{{ url('/') }}css/all.css" rel="stylesheet">

    <!--  Custom CSS  -->
    <link href="{{ url('/') }}css/custom.css" rel="stylesheet">

    <!--  FontAwesome JS  -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>

    <style>
      .user-options {
        width: 260px;
        position: absolute;
        z-index: 1000;
        top: 75px;
        right: 16px;
        display: none;
        padding: 0px;
        background-color: #FFFFFF;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
      }

      .arrow-up {
        margin-top: -20px;
        margin-left: 84%;
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 11px solid #F0F0F0;
      }

      .user-options .user-information {
        position: relative;
        padding: 18px 15px;
        width: 100%;
        background-color: #F0F0F0;
        border-bottom: 1px solid #DBDBDB;
      }

      .user-options .other-information {
        padding: 15px 0px;
        border-bottom: 1px solid #DBDBDB;
      }

      .user-options .other-information.logout-information {
        padding: 0
      }

      .user-options .logout-information .logout-button {
        color: rgba(0, 0, 0, 0.87);
        font-size: 14px;
        font-weight: 600;
        width: 100%;
        padding: 15px;
        outline: none;
        transition: background-color 0.5s;
      }

      .user-options .other-information label {
        color: #8C8C8C;
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
        display: block;
        padding: 5px 10px;
      }

      .user-options .other-information a {
        color: #2F81D0 !important;
        font-size: 14px;
        font-weight: 400;
      }
      .user-options .other-information .nav-company-list {
        overflow-y: auto;
        max-height: 150px;
        margin: -15px 0px 15px 0px;
        padding: 5px 0px;
      }

     .user-information.navbar-user img {
        height: 40px;
        width: 40px;
        -o-object-fit: cover;
        object-fit: cover;
        border-radius: 50%;
      }

      .user-options .user-information.navbar-user .information {
        position: absolute;
        top: 20px;
        margin-left: 55px;
      }

      .user-options .user-information.navbar-user {
        border-radius: 5px 5px 0 0;
      }

      .user-options .user-information.navbar-user .information .name {
        color: rgba(0, 0, 0, 0.87);
        font-size: 15px;
        font-weight: 600;
        margin: 0px 0px -2px 0px;
      }

      .user-options .user-information.navbar-user .information .handle {
        color: rgba(0, 0, 0, 0.7);
        font-size: 12px;
        display: block;
      }

      .nav-item {
        cursor: pointer;
      }
    </style>
    {% block csshead %}{% endblock %}
    {% block jshead %}{% endblock %}
  </head>
  <body>
    {% include 'layouts/header' %}
    <div class="container-fluid" style="padding: 0; padding-top: 60px;">
        {% include 'layouts/left-sidebar' %}
        {% include 'layouts/right-sidebar' %}

        {% block content %}{% endblock %}

        {% include 'layouts/footer' %}
    </div>

    <!--  jQuery  -->
    <script src="{{ url('/') }}js/jquery-3.3.1.min.js"></script>
    <!--  All Compiled JS (via npm libraries)  -->
    <script src="{{ url('/') }}js/all.js"></script>
    <!--  Custom JavaScript  -->
    <script src="{{ url('/') }}js/custom.js"></script>

    <script type="text/javascript">

      {% for key, message in flashMessages %}
          if ('{{ key }}' === 'success') {
            toastr["success"]("{{ message }}")
          } else {
            toastr["error"]("{{ message }}")
          }
      {% endfor %}
    </script>

    <script type="text/javascript">

      $(document).on('click', function(e) {
        if (e.target.id === 'navbar-profile-image') {
          $('#navUserOptions').toggleClass('disabled-customised')
          $('#navUserOptions').toggleClass('active-customised')
        } else {
          if(!$(e.target).closest('#navbar-profile').find('#navUserOptions').hasClass('disabled-customised')) {
            $('#navUserOptions').addClass('disabled-customised')
            $('#navUserOptions').removeClass('active-customised')
          }
        }
      })
    </script>


    {% block jsfooter %}{% endblock %}
  </body>
</html>
