<!DOCTYPE html>
<html>
  <head>
    <title>Sakshat</title>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="sakshat app" name="keywords">
    <meta content="Sakshat Team" name="author">
    <meta content="Sakshat | SIH-2018" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="{{ url('/') }}assets/favicon.ico" rel="shortcut icon">
    <link href="{{ url('/') }}assets/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Fonts (Montserrat(Heading) and Poppins(Normal Text))-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Poppins|Lato" rel="stylesheet">

    <!--  All Compiled CSS (via npm libraries)  -->
    <link href="{{ url('/') }}css/all.css" rel="stylesheet">

    <!--  Custom CSS  -->
    <link href="{{ url('/') }}css/custom.css" rel="stylesheet">
    {% block csshead %}{% endblock %}
    {% block jshead %}{% endblock %}
  </head>
  <body>
    {% include 'layouts/header' %}
    <div class="container-fluid">
        {% include 'layouts/left-sidebar' %}
        {% include 'layouts/right-sidebar' %}

        {% block content %}{% endblock %}

        {% include 'layouts/footer' %}
    </div>

    <!--  jQuery  -->
    <script src="{{ url('/') }}js/jquery-3.3.1.min.js"></script>
    <!--  All Compiled JS (via npm libraries)  -->
    <script src="{{ url('/') }}js/all.js"></script>
    <!--  Custom JavaScript  -->
    <script src="{{ url('/') }}js/custom.js"></script>

    <script type="text/javascript">
      {% for key, message in flashMessages %}
          if ('{{ key }}' === 'success') {
            toastr["success"]("{{ message }}")
          } else {
            toastr["error"]("{{ message }}")
          }
      {% endfor %}
    </script>


    {% block jsfooter %}{% endblock %}
  </body>
</html>
