<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="{{ url('/') }}">
    <img src="{{ url('/') }}assets/logo.png" height="40px"/>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-0">
      <div class="inner-addon left-addon">
        <span>
          <i class="fas fa-search"></i>
        </span>
        <input type="text" class="form-control search-box" placeholder="Search" />
      </div>
    </form>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ url('/') }}feed">Feed</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url('/') }}projects">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url('/') }}organisation">Organisations</a>
      </li>
      <li class="nav-item nav-icons">
        <i class="fas fa-comment-alt"></i>
      </li>
      <li class="nav-item nav-icons">
        <i class="fas fa-bell"></i>
      </li>
      <li class="nav-item nav-icons nav-profile">
        {% if user.profile_image %}
          <img src="{{ user.profile_image }}" />
        {% else %}
          <img src="{{ url('/') }}img/defaults/default-profile.png" />
        {% endif %}
      </li>
    </ul>
  </div>
</nav>