<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="https://artisantalent.com/wp-content/themes/artisan2017/icons/favicon.ico" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-0">
      <div class="inner-addon left-addon">
        <span>
          <i class="fas fa-search"></i>
        </span>
        <input type="text" class="form-control" placeholder="Search" />
      </div>
    </form>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Feed</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Organisations</a>
      </li>
      <li class="nav-item nav-icons">
        <i class="fas fa-comment-alt"></i>
      </li>
      <li class="nav-item nav-icons">
        <i class="fas fa-bell"></i>
      </li>
      <li class="nav-item nav-icons nav-profile">
        <img src="https://s3.ap-south-1.amazonaws.com/static3.tagtaste.com/images/p/160/YlLSHH0nVMp8djXOpRDj.jpg" />
      </li>
    </ul>
  </div>
</nav>