<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="background-color: var(--theme-color)!important">
  <a class="navbar-brand" href="{{ url('/') }}">
    <img src="{{ url('/') }}assets/logo.png" height="40px"/>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-0">
      <div class="inner-addon left-addon">
        <span>
          <i class="fas fa-search"></i>
        </span>
        <input type="text" class="form-control search-box" placeholder="Search" />
      </div>
    </form>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ url('/') }}feed">Updates</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url('/') }}projects">Explore</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url('/') }}project/add">Create</a>
      </li>
      <li class="nav-item nav-icons nav-profile" id="navbar-profile">
        {% if user.profile_image %}
          <img src="{{ user.profile_image }}" id="navbar-profile-image"/>
        {% else %}
          <img src="{{ url('/') }}img/defaults/default-profile.png" id="navbar-profile-image"/>
        {% endif %}
        <div class="user-options container disabled-customised" id="navUserOptions">
          <div class="arrow-up"></div>
          <div class="user-information navbar-user">
              <a href="{{ url('/') }}profile">
                  {% if user.profile_image %}
                    <img src="{{ user.profile_image }}" id="profile-navbar-profile-picture" />
                  {% else %}
                    <img src="{{ url('/') }}img/defaults/default-profile.png" id="profile-navbar-profile-picture" />
                  {% endif %}
                  <div class="information">
                      <p class="name">{{ user.name }}</p>
                      <span class="handle">@{{ user.username }}</span>
                  </div>
              </a>
          </div>
          <div class="other-information logout-information">
            <a href="{{ url('/') }}profile">
              <input type="button" value="Dashboard" class="btn btn-default logout-button nav-logout-btn" style="color: var(--theme-color);">
            </a>
          </div>
          <div class="other-information logout-information">
              <input type="button" value="Invite Professional Contacts" data-toggle="modal" data-target="#send-invite-modal" class="btn btn-default logout-button nav-logout-btn" style="color: var(--theme-color);">
          </div>
          <div class="other-information logout-information">
              <a href="/settings" class="btn btn-default logout-button settings nav-logout-btn">Settings</a>
          </div>

          <div class="other-information logout-information">
              <input type="button" value="Change Password" data-toggle="modal" data-target="#reset-password-modal" class="btn btn-default logout-button nav-logout-btn">
          </div>

          <div class="other-information logout-information">
              <form action="{{ url('/') }}logout" method="get" class="main-form">
                  <input type="submit" value="Logout" class="btn btn-default logout-button nav-logout-btn">
              </form>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>