<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top d-flex justify-content-center" style="background-color: var(--theme-color)!important">
  <a class="navbar-brand" href="{{ url('/') }}">
    <img src="{{ url('/') }}assets/logo.png" height="40px"/>
  </a>
</nav>
