{% extends 'layouts/default' %}

{% block csshead %}
<style>

</style>
{% endblock %}

{% block jshead %}{% endblock %}

{% block content %}


{% endblock %}

{% block jsfooter %}
  <script>
    $(function() {

    });
  </script>
{% endblock %}
